$green: #16DDA4;
$font: Roboto, sans-serif;

.long-button {
  display:inline-block;
  background-color: $green;
  cursor:pointer;
  color:white;
  font-family: 100% $font;
  font-size: modular-scale(0);
  padding:8px 0px;
  text-decoration:none;
  border: none;
}
body {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-family: $font;
  font-size: modular-scale(3);
  font-weight: 500;
  color: white;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.03);
}
h2 {
  font-family: $font;
  font-size: modular-scale(1);
  font-weight: 300;
  color: black;
  
  &:after {
    content: ' ';
    max-width: initial;
    display: block;
    height: 6px;
    width: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: $green;
  }
}

h3 {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 600;
  color: black;
}
h4 {
  font-family: $font;
  font-size: modular-scale(-1);
  font-weight: 300;
  color: black;
}
p {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 400;
  color: black;
}

li {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 400;
  color: black;
}
ul {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 400;
  color: black;
}

.application-steps ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  li {
    margin-left: 10px;
    padding: 0px;
    counter-increment: my-awesome-counter;
    border-bottom: 1px solid white;
    line-height: 22px;
    h3 {
      margin: 0;
      display: inline-block;
    }
    p {
      margin-top: 5px;
      padding-left: 0px;
    }
  }
  li:before {
    content: counter(my-awesome-counter);
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px 0px -50px;
    width: 35px;
    text-align: center;
    border-radius: 1in;
    border: 1.5px solid $green;
    font-weight: 900;
    background-color: white;
  }
}
.hero-blurb p {
  color: white;
}
section {
  padding: 25px 0;
}
footer {
  padding-top: 185px;
}
.mail-signup #mc_embed_signup #mc_embed_signup_scroll label[for=mce-EMAIL] {
  display: block;
  font-size: modular-scale(0);
  font-family: $font;
  text-align: center;
  width: auto;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}
.icon {
  font-family: $font;
  font-size: 66px;
  font-weight: 900;
}
.dollar {
  font-size: 24px;
  vertical-align: super;
}
