$green: #16DDA4;
$font: Roboto, sans-serif;

.long-button {
  display:inline-block;
  background-color: $green;
  cursor:pointer;
  color:white;
  font-family: 100% $font;
  font-size: modular-scale(0);
  padding:8px 84px;
  text-decoration:none;
  border: none;
  margin-bottom: 15px;
}
 
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-family: $font;
  font-size: modular-scale(3);
  font-weight: 500;
  color: white;
}
h2 {
  font-family: $font;
  font-size: modular-scale(1);
  font-weight: 300;
  color: black;
  
  &:after {
    content: ' ';
    max-width: initial;
    display: block;
    height: 6px;
    width: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: $green;
  }
}

h3 {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 600;
  color: black;
}
h4 {
  font-family: $font;
  font-size: modular-scale(-1);
  font-weight: 300;
  color: black;
}
p {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 400;
  color: black;
}

li {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 400;
  color: black;
  padding-bottom: 30px;
}
ul {
  font-family: $font;
  font-size: modular-scale(0);
  font-weight: 400;
  color: black;
}
nav {
  float: right;
  ul { 
    font-family: $font;
    overflow:hidden;
    white-space:nowrap;
    height: 1em;
    width: 100%;
  }
  li {
    display: inline;
    float: left;
    padding-left: 25px;

    &:after {
      content: ' ';
      display: inline-block;
      height: 15px;
      width: 3px;
      margin-left: 20px;
      background-color: $green;
    }
  }
  li:last-child {
    padding-right: 28px;
  }
  li:last-child:after {
    content: ' ';
    display: block;
  }
}
.application-steps ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  li {
    margin-left: 10px;
    padding: 0px;
    counter-increment: my-awesome-counter;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    line-height: 22px;
    h3 { 
      margin: 0;
      display: inline-block;
    }
    p {
      margin-top: 5px;
      padding-left: 12px;
    }
  }
  li:before {
    content: counter(my-awesome-counter);
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px 0px -35px;
    width: 35px;
    text-align: center;
    border-radius: 1in;
    border: 1.5px solid $green;
    font-weight: 900;
    background-color: white;
  }
}
.hero-blurb p {
  color: white;
}
section {
  padding: 25px 0;
}

  /*#mc_embed_signup #input-box input.email {
    display: block;
    padding: 8px;
    text-indent: 5px;
    margin: 0px 60px 0px;
    width: 58%;
    min-width: 130px;
    padding-bottom: 10px;
  }*/

.mail-signup #mc_embed_signup label {
  display: block;
  font-size: modular-scale(0);
  font-family: $font;
  text-align: center;
  width: auto;
  font-weight: normal;
}




