footer {
  @include span-columns(12);
  text-align: center;
  .partner-logos {
    padding: 20px 0px 40px;
  }
  h2 {
    margin-top: 700px;
  }
  a {
    display: block;
    padding-bottom:20px;
    img {
      width:120px;
    }
  }
}

.footer {
  background-color:black;
  color: white;
  clear: both;
  @include span-columns(12);
  text-align:center;
  padding: 15px;  
  max-width: none;
  nav, ul { 
    float: none;
    width: auto;
  }
  li { text-transform: uppercase; }
  ul {
    display: inline-block;
    padding: 0px;
  }
  nav { padding: 10px 0px; }
}
