footer {
  padding-top: 30px;
  @include span-columns(12);
  text-align: center;
  .partner-logos {
    padding: 30px 0px 80px;
  }
  h2 {
    margin-top: 700px;
  }
  a {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
    img {
      height: 30px;
    }
  }
}
.footer {
  background-color:black;
  color: white;
  clear: both;
  @include span-columns(12);
  text-align:center;
  padding: 15px;  
  max-width: none;
  nav, ul { 
    float: none;
    width: auto;
  }
  li { text-transform: uppercase; }
  ul {
    display: inline-block;
    padding: 0px;
  }
  nav { padding: 10px 0px; }
}