footer {
  // padding-top: 30px;
  @include span-columns(12);
  text-align: center;
  .partner-logos {
    padding: 20px 0px 40px;
  }
  a {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
    img {
      width:60%;
      height: 40px;
    }
  }
}
footer .not-ms .partner-logo img { 
  width:40%;
  margin-top:20px;
  height: 50px;
  width: 120px;
}
.footer {
  background-color:black;
  color: white;
  clear: both;
  @include span-columns(12);
  text-align:center;
  padding: 15px;  
  max-width: none;
  .partner-logo { 
    @include span-columns(12);
    margin-bottom:10px;
    &:first-child { margin-bottom:10px; }
  }
  nav, ul { 
    float: none;
    width: auto;
  }
  li { text-transform: uppercase; }
  ul {
    display: inline-block;
    padding: 0px;
  }
  nav { padding: 10px 0px; }
}
#micrsoft {
  height: 80px;
  width: 130px;
}