footer a {
  margin-right: 60px;
  img {
    height: 60px;
  }
}
footer h2 {
  margin-top: 150px;
}
footer {
  .partner-logos {
  @include span-columns(12);
  }
  .partner-logo {
  &:first-child { }
    display: inline-block;
    @include span-columns(4);
  }
}