@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
header {
  @include clearfix;
}
.logo {
  float: left;
}
.hero {
  @include span-columns(12);
// need help making background size bigger
  background-image: url("../images/tech_jobs_academy_demo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 15%;

  p h1 { @include span-columns(12); }
  h1 {color: white;}

  .hero-blurb {
    @include outer-container;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 75px;
  }
}
.image-blurb {
  @include span-columns(6);
  @include omega(2n);
  text-align: center;
}
.curriculum-blurbs {
  @include outer-container;
}
.mail-signup #mc_embed_signup {
  text-align: center;
  width: auto;
}
button {
  width: 200px;
}
section {
  @include outer-container;
  max-width: 58em;
  padding: 30px;
}
h1, h2 {
  text-align: center;
}
.overview p {
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
}
.eligibility {
  @include span-columns(12);
  h3 {
    text-align: center;
  }
  ul { padding-left: 0px; }
  ul li {
    margin-left: 40px;
    padding-bottom: 30px;
  }
  p {
    text-align: center;
  }
  .apply-button { text-align: center; }
  .long-button {
    padding-right:10px;
    padding-left:10px;
  }
}
.application-steps {
  @include row();
}
.mail-signup #mc_embed_signup #input-box input[type="email"] {
  font-family: $font;
  font-size: modular-scale(0);
  display: block;
  margin: 0;
  box-shadow: none;
  border-radius: none;
  padding-top: 5.5px;
  margin-top: 4.5px;
  margin-left: 30px;
  margin-right: auto;
  width: 250px;
  float: left;
  padding: 9.5px;
}
.short-button {
  padding: 6.5px 27px;
  margin-right: auto;
  margin-left: -60px;
  display:inline-block;
  background-color: $green;
  cursor:pointer;
  color:#ffffff;
  font-family: $font;
  font-size: modular-scale(1);
  text-decoration:none;
  border: none;
  bottom: 1000px;
  margin-top: 4.5px;
  margin-right: -11px;
}
