@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
section.overview  .image-blurb {
  @include omega-reset(1n);
  @include span-columns(3);
}
section.overview p {
  margin-left: 30px;
  margin-right: 30px;
}
nav ul li {
  display: inline;
}
section.curriculum .image-blurb {
  @include omega-reset(1n);
  @include span-columns(4);
  @include omega(3n);
}
.eligibility {
  @include span-columns(6);
  h3 {
    text-align: left;
  }
  ul {
    margin-left: -20px;
    li { 
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 20px;
    }
  } 
  p {
    margin-left: -18px;
    margin-right: 70px;
    text-align: initial;
    padding-left: 20px;
  }
  .long-button {
    margin-top: 18px;
    padding-right:10px;
    padding-left:10px;
    margin-left: 5px;
    padding-left: 20px;
  }
}
.application-steps {
  @include span-columns(6);
}
.hero-blurb p {
  background-color: rgba(0, 0, 0, 0.03);
}
h3 {  font-size: modular-scale(0); }
.mail-signup #mc_embed_signup #input-box input[type="email"] {
  font-family: $font;
  font-size: modular-scale(0);
  display: block;
  margin: 0;
  padding-top: 6.5px;
  padding-bottom: 10px;
  width: 60%;
  box-shadow: none;
  border-radius: none;
  float: left;
  margin-top:4px;
  margin-left: 160px;
  margin-right: auto;
  webkit-appearance: none;
  border: 1px solid #999;
}
.short-button {
  display:inline-block;
  background-color: $green;
  cursor:pointer;
  color:#ffffff;
  font-family: 100% $font;
  font-size: modular-scale(1);
  padding:6.5px 26px;
  padding-bottom: 4px;
  text-decoration:none;
  border: none;
  bottom: 1000px;
  margin-top: 4px;
  margin-right: 91px;
  border-top-style: none;
}
.long-button {
  width: 300px;
}
