.mail-signup #mc_embed_signup #mc_embed_signup_scroll label[for=mce-EMAIL] {
  display: block;
  font-size: modular-scale(1);
  font-family: $font;
  text-align: center;
  width: auto;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}
.mail-signup #mc_embed_signup {
  form { text-align: center; }
  text-align: center;
  width: auto;
}
.mail-signup #mc_embed_signup #input-box input[type="email"] {
  display: inline;
  font-family: $font;
  font-size: modular-scale(0);
  margin: 0;
  box-shadow: none;
  border-radius: none;
  margin-top: 4.5px;
  width: 130px;
  padding: 15px 10px 10px;
}
.short-button {
  padding: 10px 30px;
  margin-right: auto;
  margin-left: -10px;
  display: inline;
  background-color: $green;
  cursor:pointer;
  color:#ffffff;
  font-family: $font;
  font-size: modular-scale(1);
  text-decoration:none;
  border: none;
}
