.nav-bar {
  .logo {
    width: auto;
    padding-left: 30px;
    float: left;
    p {
      color: $green;
      font-size: 14px;
      margin-right: 0px;
    }
  }
}
nav {
  float: right;
  ul {
    font-family: $font;
    font-size: 14px;
    height: 1em;
    width: 100%;
    padding: 15px 0px;
  }
  li {
    padding: 0px 10px;
    display: inline;
    float: left;
    display: inline;
    &:first-child { padding-left: 0px; }
    &:last-child { padding-right: 28px; }
    font-size: modular-scale(0);
    font-weight: 100;
  }
}
