.key-dates { position: relative;}
.key-date {
  h4 {
    background-color: white;
  }
  h3 {
    height:15px;
    width: 235px;
    background-color: white;
    margin-top: 30px;
    padding-bottom: 25px;
  }
  &#dot1 {
    margin-top: 90px;
    margin-left: -20px;
  }
  &#dot2 {
    margin-top: 60px;
  }
  &#dot3 {
    margin-top: 80px;
  }
  &#dot4 {
    margin-top: 195px;
  }
  display: block;
  h3 {
    margin-left: -30px;
    margin-right: auto;
    text-align: center;

    &:after {
      content: ' ';
      z-index: 1;
      margin-left: 15px;
      padding-left: -5px;
      /*margin-right: 78px;*/
      margin-top: 4px;
      left:147px;
      position: absolute;
      display: inline;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: black;
    }
  }
  h4 {
    margin-left: 90px;
    margin-right: -25px;
    text-align: center;
    margin-top: -39px;
  }
}
.line {
  margin-top: 45px;
  z-index:0;
  position: absolute;
  top: 110px;
  left: 49.5%;
  height: 472px;
  width: 3.5px;
  background-color: $green;
  .line-start {
    position: absolute;
    height: 5px;
    width: 16px;
    top: -5px;
    left: -6px;
    background-color: $green;
  }
  .line-end {
    position: absolute;
    height: 5px;
    width: 16px;
    top: 467px;
    left: -6px;
    background-color: $green;
  }
}

.timeline {
  position: relative;
}
