.key-date {
  position: absolute;
  h4 {
    margin-top:35px;
    font-size: modular-scale(0);
  }
  &#dot1 {
    left: 0%;
    top: 27%;
  }
  &#dot2 {
    left: 23%;
    top: 47%;
  }
  &#dot3 {
    left: 42%;
    top: 7%;
  }
  &#dot4 {
    left: 85%;
    top: -104%;
  }
  display: inline-block;
  @include clearfix;
  h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;

    &:after {
      content: ' ';
      margin-top: 15px;
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      text-align: center;
      display: block;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: black;
    }
  }
  h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.line {
  z-index:0;
  position: absolute;
  top: 178px;
  left: auto;
  height: 3.5px;
  width: 915px;
  background-color: $green;
}

.timeline {
  @include span-columns(12);
  position: relative;
}



