/*.key-dates { 
  position: relative;
  @include clearfix;
  h2 {
    margin-bottom: -80px;
  }
}
.timeline {
  width: 100%;
  position: relative;
  @include clearfix;
  .key-date { 
    width: 100%;
    h3, h4 { 
      width: 50%;
    }
    span { 
      margin-left: -8.5px; 
      left: 50%;
    } 
  }  
  #dot1{
    position: absolute;
    top: 110px;
    left: -260px;
  }
  #dot2{
    position: absolute;
    top: 120px;
    left: 170px;
  }
  #dot3{
    position: absolute;
    top: 120px;
    left: 360px;
  }
  #dot4{
    position: absolute;
    top: 120px;
    left: 860px;
  }
  h3 {
    display: block;
    text-align: right;
    margin-right: 20px;
  }
  span {
    display: block;
    margin-left: 20%; 
    text-align: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 2;
    padding-left: -15px;
    background-color: black;
  }
  h4 {
    text-align: center;
    display: block;
   /* margin-left: 0px;*/
/*    text-align: right;
  }
}*/
/*.line {
  z-index:0;
  position: absolute;
  top: 178px;
  left: -25px;
  height: 3.5px;
  width: 985px;
  background-color: $green;
  .line-start {
    position: absolute;
    height: 16px;
    width: 3px;
    top: -5px;
    left: 983px;
    background-color: $green;
  }
  .line-end {
    position: absolute;
    height: 16px;
    width: 3px;
    top: -6px;
    left: 0px;
    background-color: $green;
  }
}

/**/
.key-dates { 
  position: relative;
  @include clearfix;
  h2 {
    margin-bottom: -80px;
  }
}
.timeline {
  width: 100%;
  position: relative;
  @include clearfix;
  .key-date { 
    width: 200px;
    height: 200px;
    span { 
      margin-left: -8.5px; 
      top: 40px;
      left: 80px;
    }
    h3 {
      width: 180px;
      left: 20px;
    } 
    h4 {
      width: 180px;
      left: 10px;
    }
  } 
  #dot1 {
    left: -70px;
    top: 177px;
    h3 {
      position: absolute;
      left: -12px;
      width: 205px;
    }
    h4 {
      position: absolute;
      left: 12px;
      width: 180px;
      font-size: 1em;
    }
  }
  #dot2 {
    left: 100px;
    top: 177px;
    h3 {
      position: absolute;
      left: -2px;
      width: 170px;
    }
    h4 {
      position: absolute;
      left: 12px;
      width: 180px;
      font-size: 1em;
    }
  }
  #dot3 {
    left: 295px;
    top: 177px;
    h3 {
      position: absolute;
      left: -45px;
      width: 250px;
    }
    h4 {
      position: absolute;
      left: 12px;
      width: 180px;
      font-size: 1em;
    }
  }
  #dot4 {
    left: 790px;
    top: 177px;
    h3 {
      position: absolute;
      left: -38px;
      width: 200px;
    }
    h4 {
      position: absolute;
      left: 10px;
      width: 180px;
      font-size: 1em;
    }
  }
  display: inline-block;
  @include clearfix;
  h3 {
    font-weight: 500;
    display: inline;
    text-align: none;
    float: none;
    margin: 0;
    padding-right: 27px;
  }
  span {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 2;
    background-color: black;
  }
  h4 {
    position: absolute;
    top: 68.5px;
    left: 18px;
    margin: 0;
    display: inline;
    text-align: none;
    float: none;
    padding-left: 25px;
  }
}
.line {
  z-index:0;
  position: absolute;
  top: 178px;
  left: -90px;
  height: 3.5px;
  width: 1025px;
  background-color: $green;
  .line-start {
    position: absolute;
    height: 16px;
    width: 3px;
    top: -6px;
    left: 1025px;
    background-color: $green;
  }
  .line-end {
    position: absolute;
    height: 16px;
    width: 3px;
    top: -6px;
    left: 0px;
    background-color: $green;
  }
}

