.key-date {
  position: absolute;
  h4 {
    margin-top:35px;
    font-size: modular-scale(0);
  }
  &#dot1 {
    left: 2%;
    top: 27%;
    z-index: 4;
  }
  &#dot2 {
    left: 21%;
    top: 20%;
    z-index: 3;
  }
  &#dot3 {
    left: 42%;
    top: -6%;
  }
  &#dot4 {
    left: 97%;
    top: -124%;
  }
  display: inline-block;
  @include clearfix;
  h3 {
    margin-left: -60px;
    margin-right: auto;
    text-align: center;
    height: 25px;
    width: 170px;
    padding: 2px 2px 2px 2px;

    &:after {
      content: ' ';
      margin-top: 15px;
      z-index: 1;
      margin-left: -65px;
      margin-right: 315px;
      position: relative;
      text-align: center;
      display: block;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: black;
    }
  }
  h4 {
    margin-left: -11px;
    margin-right: auto;
    text-align: center;
    height: 25px;
    width: 90px;
  }
}
.line {
  z-index:0;
  position: absolute;
  top: 178px;
  left: -25px;
  height: 3.5px;
  width: 985px;
  background-color: $green;
  .line-start {
    position: absolute;
    height: 6px;
    width: 13px;
    top: -3px;
    left: 983px;
    background-color: $green;
  }
  .line-end {
    position: absolute;
    height: 16px;
    width: 3px;
    top: -6px;
    background-color: $green;
  }
}
.timeline {
  @include span-columns(12);
  position: relative;
}



